
<br>
<div class="container-fluid  ">
    <div class="row d-flex justify-content-center align-items-center align-self-center">
        
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-center ">
            <p class="fs-2  ">{{!isLoginMode ? 'Sign up': 'Login' }} </p>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-4 align-items-center justify-content-center justify-content-lg-center">
            
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">

                <div class="form-outline mb-4">
                    <label class="form-label" for="emailLabel">Email address</label>
                    <input  class="form-control form-control-lg" id="emailLabel" placeholder="E-mail" ngModel name="email" type="text" required email>
                 </div>
                 
                        
                <div class="form-outline mb-3">
                    <label class="form-label" for="passwdId">Password</label>
                    <input class="form-control form-control-lg" placeholder="Password" ngModel id="passwdId" name="password" type="password" value="" required minlength="6">
                </div>
                <div class="alert alert-danger" *ngIf="error != null " role="alert">
                    {{error}}
                  </div>
                        
                <div class="text-center text-lg-start d-grid gap-3">
                    <button class="btn btn-primary btn-lg " type="submit" [disabled]="!authForm.valid">{{isLoginMode ? 'Login': 'Sign up' }}</button>
                    <button class="btn btn-primary btn-lg " (click)="onSwitchMode()" type="button">switch to {{isLoginMode ? 'Sign up': 'Login' }}</button>    
                </div>
                
                
            </form>
        </div>
    </div>
</div>

